html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


@mixin responsive-notebook(){
    @media screen and ( max-width: 1438px ){
        @content;
    }
}

@mixin responsive-notebook-medium(){
    @media screen and ( max-width: 1320px ){
        @content;
    }
}

@mixin responsive-notebook-Small(){
    @media screen and ( max-width: 1120px ){
        @content;
    }
}

@mixin responsive-tablet-large(){
    @media screen and ( max-width: 980px ){
        @content;
    }
}

@mixin responsive-tablet-Small(){
    @media screen and ( max-width: 756px ){
        @content;
    }
}

@mixin responsive-mobile-Medium(){
    @media screen and ( max-width: 450px ){
        @content;
    }
}

@mixin responsive-mobile-Small(){
    @media screen and ( max-width: 320px ){
        @content;
    }
}

// Media Queries height
@mixin responsive-notebook-height(){
    @media screen and ( max-height: 860px ){
        @content;
    }
}
